@import './../../App.scss';

.BlogPage__tags{
    background: $color_grey;
    padding: 10rem 0;
}
.BlogPage__tags.selected{
    background: #fff;
}
.BlogPage__tags .Button{
    padding: 2.1rem 0;
    margin: .5rem;
}
.BlogPage__tags .Button,
.BlogPage__tags .Button_content{
    width: 11em;
    font-size: 1.2rem;

}
.BlogPage__tags .Button_toggle{
    font-size: 1.8rem;
    right: .6rem;
    top: -.1rem;
}
@include mobile{
    .BlogPage__tags .Button{
        padding: 1.8rem 0;
        margin: .4rem;
    }
    .BlogPage__tags .Button,
    .BlogPage__tags .Button_content{
        font-size: 1rem;

    }

}
@include mobile-sm{
    .BlogPage__tags{
        background: $color_grey;
        padding: 7rem 0;
    }
    .BlogPage__tags .wrapper{
        padding:0 2rem;
    }
    .BlogPage__tags .Button,
    .BlogPage__tags .Button_content{
        width: 9.5rem;
        font-size: .9rem;
        // text-align: center;

    }
    .BlogPage__tags .Button{
        margin: .3rem;
    }
    .BlogPage__tags .Button_toggle{
        right: .5rem;
        top: .1rem;
        font-size: 1.4rem;
    }
}
