@import './../../App.scss';

.Resume{
    text-align: center;
    min-height: 55rem;
    display: grid;
    align-content: center;
    padding: 4rem 8rem 0;
    font-size: 3.6rem;
}
@include mobile-sm{
    .Resume{
        padding: 0 4rem;
        font-size: 3rem;
    }
}
