@import './../../App.scss';

.btn {
    margin: 1.2rem 2rem;
    height: 5rem;
    width: 20rem;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: bold;
    color: $color-black;
}
.skills-desktop__secondary .btn {
    font-weight: normal;
    color: #999;
    .btn__content-box {
        border-color: #999;
    }
}
//==================
//on hover animation
//==================
.btn__content-box,
.btn__content-box--animated,
.btn__content {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    left: 0;
}
.btn__content-box {
    width: 100%;
    border: solid 0.1rem $color_black;
    transition: 0.25s;
}
.btn__content-box--animated {
    color: #fff;
    left: -0.2rem;
    width: 0%;
    background: $color_primary;
    border: solid 0.1rem $color_primary;
    transition: 0.25s;
}
.btn__content {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn___anim-top,
.btn___anim-btm {
    position: absolute;
    left: 0;
    width: 1rem;
    background: $color_primary;
    height: 0;
}
.btn___anim-top {
    top: 50%;
}
.btn___anim-btm {
    bottom: 50%;
}
.btn:hover {
    .btn__content-box--animated {
        width: 100%;
        transition: width 0.5s 0.25s ease-out;
        left: 0;
    }
    .btn___anim-top,
    .btn___anim-btm {
        height: 50%;
        transition: 0.2s;
    }
}
//==================
//on click / :active
//==================
.btn--is-active {
    .btn__content {
        background: $color-black;
        color: #fff;
    }
    .btn__content-box--animated {
        width: 0%;
    }
}
.btn--is-active:hover {
    .btn__content-box--animated,
    .btn___anim-top,
    .btn___anim-btm {
        display: none;
    }
}
//==================
//on focus
//==================
.btn--in-focus {
    @extend .in-focus;
}
// // .Button and .Button_content must be the same width
// .Button {
//     margin: 1.2rem 2rem;
//     padding: 2.5rem 1rem;
//     width: 20rem;
//     overflow: hidden;
// }
// .Button_centered {
//     margin: 4rem auto;
// }

// .Button_content,
// .Button_hovered,
// .Button_unhovered {
//     position: absolute;
//     top: 0;
//     height: 100%;
//     overflow: hidden;
//     transition: 0.25s;
//     left: 0;
// }
// .Button_content {
//     width: 20rem;
//     display: grid;
//     align-content: center;
// }
// .Button_unhovered {
//     border: solid 0.1rem $color_black;
//     width: 100%;
// }
// .Button_hovered {
//     color: #fff;
//     left: -0.2rem;
//     width: 0%;
//     background: $color_primary;
//     border: solid 0.1rem $color_primary;
// }
// .Button_span_top,
// .Button_span_bottom {
//     position: absolute;
//     left: 0;
//     width: 1rem;
//     background: $color_primary;
//     height: 0;
// }
// .Button_span_top {
//     top: 50%;
// }
// .Button_span_bottom {
//     bottom: 50%;
// }
// .Button:hover {
//     .Button_hovered {
//         width: 100%;
//         transition: 0.5s 0.25s ease-out;
//         left: 0;
//     }
//     .Button_span_top,
//     .Button_span_bottom {
//         height: 50%;
//         transition: 0.2s;
//     }
// }
// .Button.secondary {
//     .Button_unhovered {
//         border-color: #c0c0c0;
//         color: #c0c0c0;
//     }
// }
// .Button:active {
//     .Button_hovered {
//         width: 100%;
//         transition: 0.5s 0.25s ease-out;
//         left: 0;
//         background: $color-black;
//     }
//     .Button_span_top,
//     .Button_span_bottom {
//         height: 50%;
//         transition: 0.2s;
//         background-color: $color-black;
//     }
// }
// .Button.secondary {
//     .Button_unhovered {
//         border-color: #c0c0c0;
//         color: #c0c0c0;
//     }
// }
// .Button_toggle {
//     position: absolute;
//     right: 1rem;
//     top: 0;
//     color: #fff;
//     font-weight: bold;
//     font-size: 2.5rem;
//     transform: scale(0);
//     transition: 0.25s;
// }
// .Button.selected {
//     .Button_hovered {
//         width: 100%;
//         transition: 0.5s 0.25s ease-out;
//         left: 0;
//     }
//     .Button_toggle {
//         transform: scale(1);
//         transition: 0.25s 0.2s cubic-bezier(0.17, 0.67, 0.4, 0.88);
//     }
// }
// .ButtonsBox.center {
//     text-align: center;
// }
