@import './../../App.scss';

.post__section{
    margin-bottom: 5rem;
}
.post__heading{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.4;
}
.post__list{
    padding-left: 5rem;
    li{
        list-style:disc;
    }
}
.post__card{
    display: block;
    padding: 2rem 5rem;
    margin: 1rem 0;
    background: $color_grey;
    font-size:1.4rem;
    line-height: 1.4;
}
.post__table{
    background: $color_grey;
    width: 100%;
    padding: 4rem;
    border-spacing: 2rem;
    border-collapse: separate;
    th,td{
        padding: 1rem;
        margin-right: .5rem;
    }
    th{
        border-bottom: solid 1px #111;
    }
    td{
        border-bottom: solid 1px #ccc;
    }
}
@include mobile{
    .post__list{
        padding-left: 1rem;
    }
    .post__table{
        font-size: 1.2rem;
        padding: 3rem 2rem;
        border-spacing: .5rem;
    }
}
@include mobile-sm{
    .post__card{
        padding: 2rem 3rem;
    }

}
