@import './../../App.scss';

.Post{
    font-size: 1.8rem;
    line-height: 1.8;
    .BlogPage_body{
        p{
            margin-bottom: 4rem;
        }
        .Post_subtitle{
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }
    .wrapper{
        width: 80rem;
    }
    .BlogPage_accordion .wrapper{
        padding-right: 0;
    }


}
.Post_body{
    a{
        text-decoration: underline;
    }
}
.Post_card{
    padding: 4rem 6rem;
    margin-bottom: 4rem;
    background: $color_grey;
    p{
        margin: 2rem 0;
    }
}
