@import './../../App.scss';

.post__section{
    margin-bottom: 5rem;
}
.post__heading{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    line-height: 1.4;
}
.post__list{
    padding-left: 5rem;
    li{
        list-style:disc;
    }
}

.card{
    display: block;
    padding: 2rem 5rem;
    margin: 1rem 0;
    background: $color_grey;
    font-size:1.4rem;
    line-height: 1.4;
}

.card--red{
    background: $color_primary;
    color: #fff;

}
.card--blue{
    background: $color_secondary_light;
    color:#fff;
}
.card__title{
    font-size: 2rem;
}

.post__table{
    background: $color_grey;
    width: 100%;
    padding: 4rem;
    border-spacing: 2rem;
    border-collapse: separate;
    th,td{
        padding: 1rem;
    }
    th{
        border-bottom: solid 1px #111;
    }
    td{
        border-bottom: solid 1px #ccc;
    }
}
.post__ref{
    font-size: 1rem;
    color: $color_grey_darker;
}
.post__ref-title{
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-bottom: solid .1rem $color_grey_darker;
    font-size: 1.4rem;
}
.post__ref-list li{
    list-style: decimal;
}
@include mobile{
    .post__list{
        padding-left: 1rem;
    }
    .post__table{
        font-size: 1.2rem;
        padding: 3rem 2rem;
        border-spacing: .5rem;
    }
}
@include mobile-sm{
    .card{
        padding: 2rem 3rem;
    }
    .post__table{
        font-size: 1rem;
        border-spacing: 0rem;
        th,td{
            padding: 1rem .5rem;
        }
    }

}
