@import './../../App.scss';

.Post{
    font-size: 1.8rem;
    line-height: 1.8;

    .BlogPage_body{
        padding: 10rem 0;
        p{
            margin-bottom: 4rem;
        }
        .Post_subtitle{
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 2rem;
            line-height: 1.4;
        }
        .wrapper{
            width: 100rem;
            padding-left: 10rem;
            padding-left: 0;
            display: grid;
            grid-template-columns: 20rem 1fr;
            grid-auto-rows: 1fr;
        }
    }
    .BlogPage_accordion .wrapper{
        padding-right: 0;
    }
    .ButtonsBox .Button{
        width: 24rem;
    }
    .ButtonsBox .Button_content{
        width: 24rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;

    }
    .ButtonsBox span.heart{
        font-size: 3rem;
        padding-right: .6rem;
    }
    .Post_card{
        padding: 2rem 5rem;
        margin-bottom: 4rem;
        background: $color_grey;
        font-size:1.2rem;
        p{
            margin: 2rem 0;
            font-size: 1.2rem;
        }
        .Post_card_important{
            border: solid .1rem $color_primary;
            padding: 2rem;
            margin-top: 4rem;
            span.important{
                display: inline-block;
                position: absolute;
                left: 2rem;
                top: -1rem;
                color: $color_primary;
                background: $color_grey;
                padding: 0 1rem;
                font-weight: bold;

            }
            span.tab{
                padding-left: 2rem;
            }
            span.tab2{
                padding-left: 4rem;
            }

        }
    }

}
.Post__imgContainer{
    img{
        width: 100%;
    }
    .Stickers{
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}
.Post_card_imgSmall{
    height: 2rem;
    padding-right: .5rem;
    top: .5rem;
}
.Post_body{
    a{
        text-decoration: underline;
    }
}
.Post_card_divider{
    border-bottom: solid .1rem $color_grey_darker;
    span{
        padding: 0 2rem ;
        background: $color_grey;
        top: 1.1rem;
    }
}

.PostSidebar{
    text-align: right;
    padding-right: 4rem;
    padding-left: 2rem;
    display: grid;
    align-content: space-between;
}
.PostSidebar__stickersBox{
    display: grid;
    justify-content: end;
    grid-template-columns: 5rem;
    grid-template-rows: 5rem 5rem;
    font-size: 1rem;
    margin-top: 2rem;
    span{
        display: inline-block;
        width: 5rem;
        height: 5rem;
        font-size: 4rem;
        color: #fff;
        text-align: center;
        line-height: 5rem;
    }
    .star{
        background:$color_secondary_light;

    }
    .heart{
        line-height: 5.2rem;
    }
    .saved .heart{
        background: $color_primary;
        margin-bottom: 1rem;
        animation: animHeart .5s forwards;
        transform: scale(2);
        border: none;
    }
    .unsaved .heart{
        background: $color_grey;
        color: #fff;
        border: solid .1rem $color_grey;
    }
    .tooltip{
        position: absolute;
        width: 15rem;
        background: $color_grey;
        font-size: 1rem;
        color: #111;
        height: 4rem;
        line-height: 1;
        top: .5rem;
        right: 0;
        //anim
        opacity: 0;
        z-index: -1;
        display: grid;
        align-content: center;
    }
    .tooltip::after{
        content:'';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 1rem 1rem 1rem;
        border-color: transparent transparent $color_grey transparent;
        position: absolute;
        top: -.9rem;
        right: 1.5rem;
    }
    .unsaved:hover,
    .saved:hover{
        .tooltip{
            top: 6rem;
            z-index: 9;
            opacity:1;
            transition: .5s;

        }
    }

}

@keyframes animHeart{
    to{
        transform: scale(1);
    }
}
.PostSidebar__relatedPost{
    font-size: 1.4rem;
    padding-bottom: 10rem;
    line-height: 1.2;
    color: $color_grey_darker;
}

@include tablet{
    .Post{
        font-size: 1.6rem;
    }
    .Post .wrapper{
        width: 80%;
        padding: 0;
    }
    .Post .BlogPage_body .Post_subtitle{
        font-size: 2.4rem;
        line-height: 1.4;
    }

    .Post .BlogPage_body .wrapper{
        width: 80%;
        padding-left: 0;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    .PostSidebar{
        display: grid;
        align-items: end;
        grid-template-columns: 1fr auto;
        padding: 0;
        margin: 0 0 2rem;
    }
    .PostSidebar__stickersBox{
        grid-template-columns: 5rem 5rem;
        grid-template-rows: 5rem;
        justify-content: start;
        margin: 0;
        .tooltip{
            right: -5rem;
        }
            .tooltip::after{
                right: 6.5rem;
            }
    }
    .PostSidebar__relatedPost{
        padding: 0 0 0 2rem;
        font-size: 1.2rem;
    }
}
@include mobile-sm{
    .Post{
        font-size: 1.4rem;
        .BlogPage_body{
            padding-bottom: 5rem;
        }
        .Post_card{
            padding: 1rem 3rem;

        }
    }

    .PostSidebar__relatedPost{
        display: none;
    }
}
