@import './../../App.scss';

.Post{
    font-size: 1.8rem;
    line-height: 1.8;
    .BlogPage_body{
        padding: 10rem 0;
        p{
            margin-bottom: 4rem;
        }
        .Post_subtitle{
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 2rem;
            line-height: 1.4;
        }
    }
    .wrapper{
        width: 80rem;
    }
    .BlogPage_accordion .wrapper{
        padding-right: 0;
    }
    .ButtonsBox .Button{
        width: 22rem;
    }
    .ButtonsBox .Button_content{
        width: 22rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;

    }
    .ButtonsBox span.heart{
        font-size: 3rem;
        padding-right: .6rem;
    }

}
.Post_body{
    a{
        text-decoration: underline;
    }
}
.Post_card{
    padding: 4rem 6rem;
    margin-bottom: 4rem;
    background: $color_grey;
    p{
        margin: 2rem 0;
    }
}

@include tablet{
    .Post{
        font-size: 1.6rem;
    }
    .Post .wrapper{
        width: 80%;
        padding: 0;
    }
    .Post .BlogPage_body .Post_subtitle{
        font-size: 2.4rem;
        line-height: 1.4;
    }
    .Post_card{
        padding: 4rem;
        font-size: 1.4rem;
    }

}
@include mobile-sm{
    .Post{
        font-size: 1.4rem;
    }
    .Post .wrapper{
        width: 90%;
    }
    .Post_card{
        padding: 2rem 3rem ;
        font-size: 1.2rem;
    }
}
