@import './../App.scss';

.Resume{
    text-align: center;
    min-height: 55rem;
    display: grid;
    align-content: center;
    padding: 0 8rem;
}
@include mobile-sm{
    .Resume{
        padding: 0 4rem;
    }
}
