@import './../App.scss';

.Blog__divider{
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: solid .2rem $color_grey;
}

.BlogPostsList__recent{
    a{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 4rem;
        align-items: center;
        padding-bottom: 3rem;
    }
    .BlogPostList__img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 30rem;
        height: 20rem;
    }
    .BlogPostList__title{
        font-size: 2.5rem;
    }
    .BlogPostList__subtitle{
        font-size: 1.8rem;
    }
}

@include tablet{
    
    .Blog__divider{
        font-size: 1.6rem;
    }
    .BlogPostsList__recent{
        a{
            grid-template-columns: 1fr;
            border-bottom: solid .2rem $color_grey;
        }
        .BlogPostList__img{
            display: none;
        }
    }
}

@include mobile-sm{
    .Blog__divider{
        font-size: 1.4rem;
    }
    .BlogPostsList__recent{

        .BlogPostList__title{
            font-size: 1.8rem;
        }
        .BlogPostList__subtitle{
            font-size: 1.4rem;
        }
        .BlogPostList__date{
            font-size: 1rem;
        }
    }
}
