@import './../App.scss';
.BlogPage__noPosts{
    padding: 10rem 0;
}

.Blog__divider{
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: solid .2rem $color_grey;
}
.Blog__divider.darker{
    color: #ccc;
    border-bottom:solid .1rem #ccc;
}
.BlogPage__postsLists{
    .BlogPostsList__liked,
    .BlogPostsList__featured,
    .BlogPostsList__recent{
        display: block;
        animation: fadeIn .75s forwards;
        opacity: 0;
    }
    padding: 10rem 0;
    height: 100%;
    transition: .5s;
}
.BlogPage__postsLists.hidden{
    .BlogPostsList__liked,
    .BlogPostsList__featured,
    .BlogPostsList__recent{
        display: none;
    }
    height: 0;
    padding: 0;
    transition: .5s;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.BlogPostsList__liked,
.BlogPostsList__featured{
    .wrapper{
        padding: 0;
    }
}
.BlogPostsList__liked,
.BlogPostsList__featured,
.BlogPostsList__selected{
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 2rem;
    }
    .BlogPostLink{
        display: grid;
        grid-template-rows: auto 1fr;
    }
    .BlogPostLink__img{
        height: 20rem;
        background-size: cover;
    }
    .BlogPostLink__desc{
        background: #fff;
        padding: 4rem 2rem;
    }
    .BlogPostLink__title{
        font-size: 1.8rem;
        margin: 0 0 -.5rem;
    }
    .BlogPostLink__subtitle{
        font-size: 1.4rem;
    }
    .BlogPostLink__date{
        font-size: 1rem;
    }


}
.BlogPostLink__img{
    background-position: 60% center;
    background-image: url('./../media/imgs/noImage.png');
    background-size: cover;
    background-position: center top;
}
.BlogPostLink__stickers{
    display: grid;
    grid-template-rows: 4rem 4rem;
    color: #fff;
    font-size: 3rem;
    line-height: 4rem;
    width: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    .heart{
        background: $color_primary;
    }
    .star{
        background: $color_secondary_light;
    }
}
.BlogPostsList__selected{
    background: $color_grey;
    padding: 10rem 0;
}
.BlogPostsList__recent,
.BlogPostsList__liked,
.BlogPostsList__featured{
    .BlogPostLink__desc{
        border: solid .2rem $color_grey;
    }
}


.BlogPostsList__recent{
    padding-top: 4rem;
    a{
        display: grid;
        grid-template-columns: auto 1fr;
        padding-bottom: 3rem;
        animation: fadeIn .75s forwards;
        opacity: 0;
    }
    .BlogPostLink__img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 30rem;
        height: 20rem;
    }
    .BlogPostLink__desc{
        padding:2rem 2rem 2rem 4rem;
        display: grid;
        align-content: center;
        border-left: none;
    }
    .BlogPostLink__title{
        font-size: 2.2rem;
    }
    .BlogPostLink__subtitle{
        font-size: 1.8rem;
    }
}


.Blog__btn{
    padding: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}
.Blog__pagination{
    text-align: right;
    padding-right: 2rem;
    margin-bottom: 2rem;
    button{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        border: solid .1rem $color_grey;
        color: $color_grey_darker;
        margin: .2em;
        text-align: center;
    }
    button:first-child{
        background: $color_grey;
    }
}
.Blog__range{
    text-align: right;
    padding-right: 2rem;
    font-size: 1.6rem;
    top: -6rem;
}
@include tablet{
    .BlogPostsList__liked,
    .BlogPostsList__featured,
    .BlogPostsList__selected{
        .wrapper{
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
        }
    }
    .BlogPostsList__recent{
        .BlogPostLink__img{
            width: 20rem;
            height: 16rem;
        }
        .BlogPostLink__title{
            font-size: 1.8rem;
        }
        .BlogPostLink__subtitle{
            font-size: 1.4rem;
        }
    }


}

@include mobile{
    .Blog__divider{
        font-size: 1.8rem;
    }

    // .BlogPostsList__liked,
    // .BlogPostsList__featured{
    //     a:nth-last-child(-n+3){
    //         display: none;
    //     }
    // }
    // .BlogPostsList__liked.all,
    // .BlogPostsList__featured.all{
    //     a:nth-last-child(-n+3){
    //         display: inline-block;
    //     }
    // }
    .BlogPostsList__liked,
    .BlogPostsList__featured,
    .BlogPostsList__selected{
        .wrapper{
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
        }
    }
    .BlogPostsList__recent{
        a{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;

        }

        .BlogPostLink__img{
            height: 20rem;
            width: 100%;
        }
        .BlogPostLink__desc{
            padding: 4rem 2rem 5rem;
            border-left: solid .2rem $color_grey;
        }
    }

}
@include mobile-sm{
    .Blog__divider{
        padding-left: 1rem;
    }
    .BlogPage__postsLists{
        padding: 10rem 0 7rem;
    }
    .BlogPage__postsLists .wrapper{
        padding: 0 1rem;
    }
    .BlogPostsList__selected{
        padding: 7rem 0;
        .wrapper{
            padding: 0 2rem;
        }
    }


}
