@import './../App.scss';
.checklist{
  padding: 5rem;
  font-size: 1.6rem;
}
.checklist__title{
  margin-bottom: 2rem;
}
.checklist__caption{
  padding: 1rem 1rem 0.5rem 2.8rem;
  text-transform: uppercase;
}
.checklist__list{
  padding: 1rem 1rem 1rem 3rem;
}
.checklist__list-caption{
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 1rem 0;
} 
.checklist__list-subcaption{
  font-size: 1.6rem;
  padding: .5rem 0;
}
.checklist__item{
  padding: .5rem 0;
}
.checklist__button{
  position: absolute;
  top: .7rem;
  border: solid .1rem #111;
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  margin-right: 1rem;

}
.checklist__item--selected{
  color: #c5c5c5;
  

  .checklist__button{
    border: none;
  }
  .checklist__button:after{
    content: "\2714";
    font-weight: bold;
    font-size: 1.6rem;
    line-height: .9;
    color: $color_green;

  }
}

.checklist__text{
  left: 2.5rem;
}