@import './../../App.scss';
.code{
  margin-top: 1rem;
  border-top: solid .1rem #ccc;
  padding-top: 1rem;
  code{
    display: block;
  }
  pre{
    padding: 0 1rem ;
    white-space: normal; //alows to breake the line
   
  }
}
.code__indent{
  padding-left: 1rem;;
}
.code__indent-2{
  padding-left: 2rem;;
}
.code__caption{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}