@import './../../App.scss';

.stickers {
    position: absolute;
    right: -0.2rem;
    top: 0;
    width: 5rem;
    display: grid;
    grid-template-columns: 5rem;
    grid-auto-rows: 5rem;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;
    color: #fff;
    justify-content: end;
    z-index: 3;
    a {
        background: #fff;
    }
}
.sticker {
    display: block;
}
.sticker--in-focus {
    @extend .in-focus;
}
.sticker__img {
    width: 5rem;
    height: 5rem;
    padding: 0.9rem;
    transition: 0.25s;
}
.sticker__cml {
    background: $color_secondary_light;
}
.project--in-focus,
.project:hover {
    .sticker__cml {
        background-color: #111;
        transition: 0.2s;
    }
}
.stickers a:hover {
    .sticker__img {
        transform: scale(1.2);
        transition: 0.25s;
    }
}
//=======================
//  ON FOCUS
//=======================
//stickers link on focus
.project--out-of-focus {
    filter: grayscale(100%);
    .stickers a {
        filter: grayscale(0%);
    }
}
// .Stickers.small{
//     grid-template-columns: 4rem;
//     grid-auto-rows: 4rem;
//     font-size: 3rem;
//     line-height: 4rem;
// }
// .Stickers__git{
//     background: #fff;
//     img{
//         width: 5rem;
//         padding: 1rem;
//     }
// }

// .Stickers__featured{
//     background: $color_secondary_light;
// }
// .Stickers__liked{
//     background: $color_primary;
// }
