@import './../../App.scss';

.Stickers{
    display: grid;
    grid-template-columns: 5rem;
    grid-auto-rows: 5rem;
    text-align: center;
    line-height: 5rem;
    font-weight: bold;
    color: #fff;
    justify-content: end;
}
.Stickers.small{
    grid-template-columns: 4rem;
    grid-auto-rows: 4rem;
    font-size: 3rem;
    line-height: 4rem;
}
.Stickers__git{
    background: #fff;
    img{
        width: 5rem;
        padding: 1rem;
    }
}
.Stickers__cml{
    background: $color_secondary_light;

}
.Stickers__featured{
    background: $color_secondary_light;
}
.Stickers__liked{
    background: $color_primary;
}
