@import './../../App.scss';
.BlogPage{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.Post{
    .BlogPage__accordion{
        background-position: 70% center;

    }
}
.BlogPage__accordion{
    height: 50rem;
    background: $color_grey;
    display: grid;
    align-content: center;
    // margin-top: 4rem;
    background-image: url('./../../media/blog/laptop.jpeg');
    background-size: cover;
    background-position: 80% top;

    .fill{
        background: rgba($color_grey,.75);
    }

    h1{
        line-height: 1.2;
        font-size: 4rem;
        margin-top: 2rem;
    }
    h2{
        font-weight: 400;
        line-height: 1.4;
        font-size: 2.4rem;
    }


}

.BlogPage__accordion_post{
    height: 50rem;
    display: grid;
    align-content: center;
}
.BlogPage__accordion_blog{
    padding-right: 40%;
}

.BlogPage_body{
    // padding: 10rem 0 0;
}
p.accordion__blogTag{
    font-size: 3rem;
}
p.accordion__post_date{
    width: 20rem;
    border-bottom: solid .1rem #111;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.PostsFeatured,
.PostsLiked{
    top: 2rem;
    font-family:Arial;
    font-size: 2.2rem;
    line-height: 1;
    // font-weight: bold;
    text-align: right;
    a{
        color: $color_secondary_light;
        font-size: 3.3rem;
        padding-right: .5rem;
        top: .2rem;
    }

}
.PostsLiked a{
    color: $color_primary;
}
.PostsFeatured{
    padding-left: 2rem;
}
.accordion__post_stickers{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 5rem 5rem;
    grid-auto-rows: 5rem;
    font-size: 4rem;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    .heart{
        background: $color_primary;
    }
    .star{
        background:$color_secondary_light;
    }
}
@include tablet{
    .BlogPage__accordion{
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
    }
    .BlogPage__accordion_blog{
        padding-right: 20%;
    }
    p.accordion__blogTag{
        font-size: 2.5rem;
    }
    .Post{
        .BlogPage__accordion{
            // background-position: 70% 50%;

        }
    }

}
@include mobile{
    .BlogPage__accordion_blog{
        padding-right: 0;
    }
    p.accordion__blogTag{
        font-size: 2.2rem;
    }
}
