@import './../App.scss';

.About{
    text-align: center;
    padding: 6rem 8rem 14rem;

}
@include desktop-sm{}
@include tablet{}
@include mobile{}
@include mobile-sm{
    .About{
        padding: 4rem 2rem 10rem 4rem;

    }
}
