@import './../../App.scss';
.Header{
    padding: 5rem 10rem 0;

}
.Portfolio .Header{
    nav a:first-child{
        display: none;
    }
}

.BlogPage{
    nav a {
        display: none;
    }
    nav a.link_portfolio,
    nav a.link_twitter{
        display: inline;
    }
}
.BlogPage.Post nav a.link_blog{
    display: inline;
}
nav{
    text-align: right;
    font-size: 1.8rem;
    a{
        padding-left: 1.5rem;
    }
    a:hover{
        color: $color_primary;
        transition: .25s;
    }
}
.Nav_name{
    font-size: 3rem;
    font-weight: bold;
}
 @include desktop-sm{}
 @include tablet{
     .Header{
         padding: 4rem 4rem 0;
     }
 }
 @include mobile{
     .Header{
         padding: 4rem 4rem 0;
     }

     nav{
         font-size: 1.4rem;
         a{
             padding: 0 .5rem;
         }
     }

 }
 @include mobile-sm{
     .Header{
         background: $color_secondary_dark;
         color: #fff;
         padding-right: 0;
         padding-left: 0;
         padding-bottom: 3rem;
     }
     nav{
         text-align: center;
         font-size: 1.1rem;
         // display: grid;
         // grid-template-columns: repeat(5, 1fr);
         // justify-items:center;
         a{
             padding: 0 .8rem;
         }
         a.link_resume{
             display: none;
         }

     }

 }
