@import './../../App.scss';
.header {
    padding: 5rem 10rem 3rem;
    font-size: 1.8rem;
    text-align: right;
    color: #111;
}

.nav li {
    padding: 0 0.7rem;
    display: inline-block;
}

.nav__submenu {
    display: inline-block;
    left: 0.7rem; //to even paddings between lis
}
.nav {
    a:hover,
    a:focus,
    a:active {
        color: $color_primary;
        text-decoration: underline;
    }
}

.portfolio {
    .link-portfolio__link {
        display: none;
    }
}
.notes {
    .link-portfolio__link {
        display: inline-block;
    }
    .nav__submenu {
        display: none;
    }
}
// nav {
//     text-align: right;
//     font-size: 1.8rem;
//     a {
//         padding-left: 1.5rem;
//     }
//     a:focus,
//     a:hover {
//         color: $color_primary;
//         transition: 0.25s;
//         text-decoration: underline;
//     }
// }

.BlogPage {
    //     nav a {
    //         display: none;
    //     }
    //     nav a.link_portfolio,
    //     nav a.link_twitter {
    //         display: inline;
    //     }
}
.BlogPage.Post nav a.link_blog {
    //     display: inline;
}

@include desktop-sm {
}
@include tablet {
    .header {
        padding: 5rem 5rem 3rem;
    }
}
@include mobile {
    .header {
        padding: 0;
    }
    .link-portfolio {
        display: block;
        width: 100vw;
        background: $color_black;
        color: #fff;
        margin-bottom: 2rem;
    }
    .nav__submenu {
        padding: 3rem 4rem 3rem 0;
    }
    .nav {
        padding-right: 4rem;
        background: $color_grey;
        padding-bottom: 2rem;
    }
}

@include mobile-sm {
    //     .header {
    //         background: $color_secondary_dark;
    //         color: #fff;
    //         padding-right: 0;
    //         padding-left: 0;
    //     }
    //     nav {
    //         text-align: center;
    //         font-size: 1.1rem;
    //         // display: grid;
    //         // grid-template-columns: repeat(5, 1fr);
    //         // justify-items:center;
    //         a {
    //             padding: 0 0.8rem;
    //         }
    //         a.link_resume {
    //             display: none;
    //         }
    //     }
}
