@import './../../App.scss';
.skills {
    background: $color_grey;
    text-align: center;
    overflow: hidden;
    li {
        display: inline;
    }
}

.skills-mob__primary {
    margin-bottom: 3rem;
}

.skills-mob__primary ul {
    display: flex;
    justify-content: center;
}

.skills-mob__img-primary {
    display: inline-block;
    height: 17vw;
    margin: 2vw;
}
.skills-mob__secondary ul {
    display: flex;
    justify-content: space-around;
}
.skills-mob__img-secondary {
    height: 5rem;
    margin: 0 2vw;
    opacity: 0.2;
}

@include desktop-sm {
}
@include tablet {

}
@include mobile {
    .skills {
        .animated-section__heading p {
            display: none;
        }
    }

}
@include mobile-sm {

    .skills-mob__primary ul,
    .skills-mob__secondary ul {
        flex-wrap: wrap;
    }
    .skills-mob__img-primary {
        width: 25vw;
        height: auto;
        margin: 4vw;
    }
    .skills-mob__img-secondary {
        width: 20vw;
        height: auto;
        padding: 2.5vw;
        margin: 1vw;
    }
}
