@import './../../App.scss';
.skills {
    padding: 12rem 0;
    background: $color_grey;
    text-align: center;
    overflow: hidden;
    li {
        display: inline;
    }
}
// .Skills__desk_main {
//     margin-bottom: 2rem;
// }
// .skills__mob {
//     display: none;
// }
.skills-mob__primary {
    margin-bottom: 3rem;
}

.skills-mob__primary ul {
    display: flex;
    justify-content: center;
}

.skills-mob__img-primary {
    display: inline-block;
    height: 17vw;
    margin: 2vw;
}
.skills-mob__secondary ul {
    display: flex;
    justify-content: space-around;
}
.skills-mob__img-secondary {
    height: 5rem;
    margin: 0 2vw;
    opacity: 0.2;
}

@include desktop-sm {
}
@include tablet {
    //     .Skills {
    //         padding: 12rem 0 10rem;
    //     }
    //     .Skills__desk {
    //         display: none;
    //     }
    //     .Skills__mob {
    //         display: block;
    //         text-align: center;
    //         left: -0.5rem;
    //     }
    //     .Skills__mob_main {
    //         margin-bottom: 4rem;
    //         img {
    //             height: 10rem;
    //             margin: 0 2rem;
    //         }
    //     }
    //     .Skills__mob_other {
    //         img {
    //             height: 5rem;
    //             margin: 0 1.8rem;
    //             opacity: 0.1;
    //         }
    //     }
}
@include mobile {
    .skills {
        .animated-section__heading p {
            display: none;
        }
    }
    //     .Skills__mob_main {
    //         margin-bottom: 3rem;
    //         img {
    //             height: 6.6rem;
    //             margin: 0.5rem;
    //         }
    //     }
    //     .Skills__mob_other {
    //         img {
    //             height: 4rem;
    //             margin: 0.5rem 0.7rem;
    //             opacity: 0.1;
    //         }
    //     }
}
@include mobile-sm {
    //     .Skills__mob_main {
    //         display: grid;
    //         grid-template-columns: 9rem 9rem;
    //         grid-gap: 2rem;
    //         justify-content: center;
    //         img {
    //             height: 9rem;
    //         }
    //     }
    //     .Skills__mob_other {
    //         display: grid;
    //         grid-template-columns: 4rem 4rem 4rem;
    //         grid-column-gap: 3rem;
    //         grid-row-gap: 1rem;
    //         justify-content: center;
    //         img {
    //             height: 4rem;
    //         }
    //     }
    .skills-mob__primary ul,
    .skills-mob__secondary ul {
        flex-wrap: wrap;
    }
    .skills-mob__img-primary {
        width: 25vw;
        height: auto;
        margin: 4vw;
    }
    .skills-mob__img-secondary {
        width: 20vw;
        height: auto;
        padding: 2.5vw;
        margin: 1vw;
    }
}
