@import './../../App.scss';
.projects {
    background: $color_grey;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 22vw;
    }
}

.project,
.project a,
.project__desc {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
}
.project {
    background-image: url('./../../media/imgs/noImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    top: 5rem;
}
.project a {
    position: absolute;
    z-index: 2;
}
.project__desc {
    position: absolute;
    display: grid;
    align-content: center;
    background: rgba($color_secondary_light, 1);
    opacity: 0;
    padding: 6rem 4rem 2rem;
    color: #fff;
    font-size: 1.2rem;
    z-index: 1;
}
.project__name {
    opacity: 0;
    top: 10rem;
    font-size: 1.6rem;
}
.project__info {
    opacity: 0;
    top: 5rem;
}
.project:hover {
    .project__desc {
        opacity: 1;
        transition: 0.1s;
    }
    .project__name,
    .project__info {
        opacity: 1;
        top: 0;
        transition: 0.4s 0.2s ease-in-out;
    }
    //     .Stickers__cml {
    //         background: #111;
    //         transition: 0.2s;
    //     }
}
.project__null {
    background: #eee;
    background-image: linear-gradient(to right, #eee, #ebebeb);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 8rem;
        opacity: 0.1;
        margin: auto;
    }
}
//===================
//   ON FOCUS
//===================
.project--in-focus {
    border: dashed 0.1rem #111;

    .project__desc {
        background-color: $color-primary;
        opacity: 1;
        transition: 0.1s;
    }
    .project__name,
    .project__info {
        opacity: 1;
        top: 0;
        transition: 0.4s 0.2s ease-in-out;
    }
    //     .Stickers__cml {
    //         background: #111;
    //         transition: 0.2s;
    //     }
}
.project__null--in-focus {
    @extend .in-focus;
}
@include desktop-sm {
    .Projects {
        grid-auto-rows: 22vw;
    }
    .Project:nth-child(4) {
        background-size: contain;
    }
}
@include tablet {
    .Projects {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vw;
    }
    .Project:nth-child(2) {
        grid-row: 1/3;
    }
    .Project:nth-child(1) {
        grid-row: 3;
    }
    .Project:nth-child(4) {
        background-size: cover;
    }
}
@include mobile {
    .Projects {
        grid-auto-rows: 35vw;
    }

    .Project_desc {
        font-size: 1rem;
        padding: 2rem 5vw;
        // padding-right: 12%;
    }
}
@include mobile-sm {
    .Projects {
        grid-template-columns: 1fr;
        grid-auto-rows: 60vw;
    }
    .Project_desc {
        line-height: 1.4;
    }
    .Project:nth-child(2) {
        grid-row: 2;
    }
    .Project:nth-child(1) {
        grid-row: 1;
    }
}
