@import './../../App.scss';
.Projects{
    background: $color_grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 20vw;

}
.Project{
    background-image: url('./../../media/imgs/noImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    top: 5rem;

}
.Project_desc{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    align-content: center;
    background: rgba($color_secondary_light,1);
    opacity: 0;
    padding: 2rem 3rem 2rem 4rem;
    color: #fff;
    font-size: 1.4rem;
}
.Project_title{
    opacity: 0;
    top: 10rem;

}
.Project_details{
    opacity: 0;
    top: 5rem;

}
.Project:hover{
    .Project_desc{
        opacity: 1;
        transition: .1s;
    }
    .Project_title,
    .Project_details{
        opacity: 1;
        top: 0;
        transition: .4s .2s ease-in-out;
    }
}
.ProjectNull{
    background: #eee;
    background-image: linear-gradient(to right, #eee, #ebebeb);
    display: grid;
    align-content: center;
    text-align: center;

}

.Project_git{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
}
.Project_img{
    width: 5rem;
    padding: 1rem;
    // position: absolute;
    // top: 3rem;
    // right: 0;
}
.ProjectNull_img{
    width: 8rem;
    opacity: .1;
    margin: auto;
}
.Project_cml{
    background: $color_secondary_light;
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0;
    top: 5rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 5rem;
}
.Project_cml.toTop{
    top: 0;
}
@include desktop-sm{
    .Projects{
        grid-auto-rows: 22vw;
    }
    .Project:nth-child(4){
        background-size: contain;
    }
}
@include tablet{
    .Projects{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30vw;

    }
    .Project:nth-child(2){
        grid-row: 1/3;

    }
    .Project:nth-child(1){
        grid-row: 3;

    }
    .Project:nth-child(4){
        background-size: cover;
    }

}
@include mobile{

    .Projects{
        grid-auto-rows: 35vw;

    }

    .Project_desc{
        font-size: 1rem;
        padding: 2rem 5vw;
        // padding-right: 12%;
    }

}
@include mobile-sm{
    .Projects{
        grid-template-columns: 1fr;
        grid-auto-rows: 60vw;

    }
    .Project_desc{
        line-height: 1.4;
    }
    .Project:nth-child(2){
        grid-row: 2;

    }
    .Project:nth-child(1){
        grid-row: 1;

    }

}
