@import './../../App.scss';
.accordion__head{
  display: block;
  padding: 2rem 3rem 2rem 6rem;
  margin: 1rem 0;
  background: $color_grey;
  font-size:1.4rem;
  line-height: 1.4;
}
.accordion__head--red{
  background: $color_primary;
  color: #fff;
}
.accordion__head--blue{
  background: $color_secondary_light;
  color:#fff;
}
.accordion__title{
    font-size: 2rem;
}
.accordion__arrow{
  color: #fff;
  position: absolute;
  left: 2rem;
  top:50%;
  font-size: 2rem;
  transform: translateY(-50%)rotate(0deg);
  transition: .5s;
}
.accordion__arrow--is-rotated{
  transform: translateY(-50%)rotate(90deg);
}
.accordion__body{
  display: none;
}
.accordion__body--is-shown{
  display: block;
}
@include mobile{
  .accordion__body .post__list{
    padding-left: 4rem;
  }
}
@include mobile-sm{
  .accordion__head{
      padding: 2rem;
  }
  .accordion__body .post__list{
    padding-left: 3rem;
  }
  .accordion__title{
    padding-left: 2.5rem;
  }
  .accordion__arrow{
    top: 2.1rem;
    transform: translateY(0%)rotate(0deg);
  }
  .accordion__arrow--is-rotated{
    transform: translateY(0%)rotate(90deg);
  }

}