@import './../../App.scss';
.about {
    text-align: center;
    line-height: 1.4;
}
.about__heading {
    background-color: $color-grey;
    padding: 17rem 0 12rem;

    h1 {
        line-height: 1.2;
        font-size: 4.5rem;
        font-weight: normal;
    }
}
.about__desc {
    overflow: hidden;
    padding: 10rem 0 12rem;
    p {
        font-size: 2.5rem;
        font-weight: normal;
        margin-top: 1rem;
    }
}

@include desktop-sm {
}
@include tablet {
}
@include mobile {
    .about__heading {
        padding-top: 15rem;
        h1 {
            font-size: 3.5rem;
        }
    }
    .about__desc {
        p {
            font-size: 2rem;
        }
    }
}
