@import './../../App.scss';

.About{
    text-align: center;
    padding: 8rem 8rem 14rem;

}
@include desktop-sm{}
@include tablet{}
@include mobile{}
@include mobile-sm{
    .About{
        padding: 6rem 2rem 12rem 4rem;

    }
}
